<?xml version="1.0" ?>
<model>
    <name>camera_2</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Alessio Lovato</name>
        <email></email>
    </author>
    <description>Model of a camera able to publish image topic over ROS2</description>
</model>
