<?xml version="1.0" ?>
<model>
    <name>map_tag</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Alessio Lovato</name>
        <email></email>
    </author>
    <description>Apriltag tag to identify a static position in the map</description>
</model>
